<h1>Produtos cadastrados</h1>
<div>

<table mat-table [dataSource]="produtos" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let produto"> {{produto._id}} </td>
    </ng-container>

    <ng-container matColumnDef="codigo_produto">
        <th mat-header-cell *matHeaderCellDef> Código do produto </th>
        <td mat-cell *matCellDef="let produto"> {{produto.codigo_produto}} </td>
      </ng-container>

    <ng-container matColumnDef="nome_produto">
    <th mat-header-cell *matHeaderCellDef> Nome</th>
    <td mat-cell *matCellDef="let produto"> {{produto.nome_produto}} </td>
    </ng-container>

    <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef> id do Fornecedor</th>
        <td mat-cell *matCellDef="let produto"> {{produto.fornecedor}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria</th>
        <td mat-cell *matCellDef="let produto"> {{produto.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Criado em:</th>
        <td mat-cell *matCellDef="let produto"> {{produto.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="deletar">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let produto"> <button mat-raised-button color="primary" (click)="delete(produto._id)">Deletar</button> </td>
  </ng-container>

        
    <tr mat-header-row *matHeaderRowDef="listarColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: listarColumns;"></tr>
  </table>
</div>